/* Default button styles */
#helpButton {
    -fx-background-image: url("../assets/HomeView/help_button.png");
    -fx-background-radius: 6px;

}

#aboutButton {
    -fx-background-image: url("../assets/HomeView/about_button.png");
    -fx-background-radius: 6px;

}

#bubbleSortHover {
    -fx-background-image: url("../assets/HomeView/bubbleshort_hover_front.png");
    -fx-border-color: gray;
    -fx-border-width: 2px;

}

#quickSortHover {
    -fx-background-image: url("../assets/HomeView/quicksort_hover_front.png");
    -fx-border-color: gray;
    -fx-border-width: 2px;

}

#insertionSortHover {
    -fx-background-image: url("../assets/HomeView/insertionsort_hover_front.png");
    -fx-border-color: gray;
    -fx-border-width: 2px;

}

/* Button styles on hover */
#helpButton:hover {
    -fx-background-image: url("../assets/HomeView/help_hover.png");
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

#aboutButton:hover {
    -fx-background-image: url("../assets/HomeView/about_hover.png");
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

#bubbleSortHover:hover {
    -fx-background-image: url("../assets/HomeView/bbsort_info.png");
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-cursor: hand;

}

#quickSortHover:hover {
    -fx-background-image: url("../assets/HomeView/quick_sort_info.png");
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-cursor: hand;

}

#insertionSortHover:hover {
    -fx-background-image: url("../assets/HomeView/insertion_info.png");
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-cursor: hand;

}

/* Button styles when pressed */
#helpButton:pressed {
    -fx-background-image: url("../assets/HomeView/help_button.png");
    -fx-background-radius: 6px;
    -fx-rotate: 10;
}

#aboutButton:pressed {
    -fx-background-image: url("../assets/HomeView/about_button.png");
    -fx-background-radius: 6px;
    -fx-rotate: 10;
}