#menuActionButton {
    -fx-background-image: url("../assets/SortView/menuActionColor.png");
    -fx-background-color: black;
    -fx-cursor: hand;
}

#menuActionPane {
    -fx-background-image: url("../assets/SortView/menuActionColor.png");
    -fx-cursor: hand;
}

#sortExplainButton {
    -fx-background-image: url("../assets/SortView/sortExplainColor.png");
    -fx-background-color: black;
    -fx-cursor: hand;
}

#showPseudoCodeButton {
    -fx-background-image: url("../assets/SortView/pseudoCodeColor.png");
    -fx-background-color: black;
    -fx-cursor: hand;
}

#sortExplainationTextField {
    -fx-background-color: rgb(217, 81, 60);
    -fx-background-radius: 0px;
}

#pseudoCodeTextArea {
    -fx-control-inner-background: rgb(30, 154, 42);
    -fx-background-color: rgb(30, 154, 42);
    -fx-background-radius: 0px;
    -fx-text-fill: white;

}

#pseudoCodeTextArea .text {
    -fx-line-spacing: 8px;
    -fx-text-fill: white;
}

#backButton {
    -fx-background-image: url("../assets/SortView/backButton.png");
    -fx-background-color: black;
    -fx-background-radius: 7px;
}

#backButton:hover {
    -fx-cursor: hand;
    -fx-background-image: url("../assets/SortView/backButton_hover.png");
}

.rightArrow {
    -fx-rotate: 180;
}